{% extends 'core/base.html'%}

{%block title%}Contacto {%endblock%}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{%block header%}
  <h1>Contacto</h1>
{% endblock %}

{%block content%} 
<!-- Contenido Principal -->
 <div class="col-lg-8 col-md-10 mx-auto">
    <p>A continuación dejo mis datos de contacto, por si estas interesado en conocer mas sobre mi trabajo!</p>
    <br>
    <p><b>N° Celular:</b> +57 3163803764</p>
    <p><b>Email:</b> garciavargas9112@gmail.com</p>
    <p><b>Skype:</b> har0old</p>
    <br>
    <p><b>Horarios</b></p>
    <p>lunes a viernes de 8am a 6pm</p>
</div>
{%endblock%}